@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Awal Navbar */

.navbar {
    display: flex;
    position: fixed;
    background: repeating-linear-gradient(to right, rgba(50, 37, 85, 0.3), rgba(149,19,80,0.3));
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 60px;
    top: 0;
    bottom: 0;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    z-index: 12;
    box-shadow: 0px 0px 5px rgb(138, 2, 138);
}

.navbar .logo {
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgb(138, 2, 138);
}

/* header nav .nav-link ul { */
.navbar .links {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 40%;
}


/* header nav .nav-link ul a { */
.navbar .links a {
    display: block;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 200;
    text-shadow: 1px 1px 3px #000000;
}

header .navbar .links a:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(138, 2, 138);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}


/* Hamburger Toogle*/
.menu-toggle {
    display: none;
    flex-direction: column;
    align-items: center; 
    height: 20px;
    justify-content: space-between;
    cursor: pointer; 
}

.menu-toggle input {
    position: absolute;
    width: 50px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 3px;
}


/* Awal Jumbotron */
.jumbotron .container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../asset/img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}

.jumbotron .container::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(10, 10, 15), rgba(0, 0, 0, 0) );
    position: absolute;
    bottom: 0;
}


.jumbotron .container h1.display-txt {
    color: white;
    text-shadow: 2px 2px 5px rgb(138, 2, 138);
    font-size: 100px;
    margin-top: 150px;
    font-weight: 100;
    font-family: 'Dancing Script', cursive;
    z-index: 1;
}

.jumbotron .container .display-txt span {
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgb(138, 2, 138);
} 

/* Akhir Jumbotron */




/* Awal Tombol Menu & Reserve*/
.tombol {
    display: flex;
    position: relative;
    justify-content: space-around;
    z-index: 1;
}

.tombol ul {
    padding: 0;
    margin: 0;
}

.tombol ul li {
    border: 2px solid white;
    font-size: 20px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.tombol ul li a {
    padding: 15px 30px;
    display: block;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.6);
}

.tombol ul li:hover a {
    box-shadow: 0px 0px 0px rgb(138, 2, 138), 0px 0px 20px rgb(138, 2, 138);
}
/* Akhir Tombol Menu & Reserve */



/* Awal Menu  */
.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-col {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 80px 20px 0;
    
}


.menu-row {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.menu-col header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #616161;
}


.menu-row p{
    size: 10px;
    font-weight: 100;
    align-items: center;
}


.card {
    border-radius: 15px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 30px 30px;
}

.card-grid {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 240px 80px 120px 80px;
    grid-template-areas: "image" "text" "price" "stats";
}

.card-image1 {
    grid-area: image;
    background: url(../asset/img/juice.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image2 {
    grid-area: image;
    background: url(../asset/img/pizza.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image3 {
    grid-area: image;
    background: url(../asset/img/barbecue-2.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}


.card-text {
    grid-area: text;
    margin: 25px;
}

.card-price {
    grid-area: price;
    color: grey;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Roboto';
    margin: 30px;
}


.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(to right, #322555 0%, #951350 100%);
    align-items: center;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
}

.card-stats .value {
    font-weight: 200;
}

/* Akhir Menu */


/* Awal Parallax */
.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../asset/img/resto-area.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.par-display {
    display: block;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px);
    width: 280px;
    height: 150px;
    border-radius: 30px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.par-display h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 40px 0 20px 20px;
}

.par-display span {
    color: white;
    margin: 30px 0 20px 60px;
    letter-spacing: 2px;
}

/* Akhir Parallax */


/* Awal Galery */

.galery {
    display: flex;
    place-content: center;
    position: relative;;
    width: 100%;
    height: 115vh;
}

.galery .container {
    width: 100%;
    height: 100vh;
    max-width: 120rem;
}


.galery-image {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.2rem;
    grid-template-areas: 
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-5 img-6'
        'img-7 img-7 img-8 img-6';
    width: 100%;
    height: 100%;
}

.galery-image a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 15rem;
    pointer-events: none;
    text-decoration: none;
}


.img-1 {
    grid-area: img-1;
    background: url(../asset/img/grid/img-1.jpg);
    min-height: 30rem
    
}

.img-2 {
    grid-area: img-2;
    background-image: url(../asset/img/grid/img-2.jpg);
}

.img-3 {
    grid-area: img-3;
    background-image: url(../asset/img/grid/img-3.jpg);
}

.img-4 {
    grid-area: img-4;
    background-image: url(../asset/img/grid/img-4.jpg);
}

.img-5 {
    grid-area: img-5;
    background-image: url(../asset/img/grid/img-5.jpg);
}

.img-6 {
    grid-area: img-6;
    background-image: url(../asset/img/grid/img-6.jpg);
    min-height: 30rem;
}

.img-7 {
    grid-area: img-7;
    background: url(../asset/img/grid/img-7.jpg);
}

.img-8 {
    grid-area: img-8;
    background: url(../asset/img/grid/img-8.jpg);
}

/* Akhir Galery */


/* Awal Profile */

.sec-biodata {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
}

.biodata {
    width: 100%;
    max-width: 60rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.biodata_img {
    min-width: 20rem;
    max-width: 20rem;
    height: 20rem;
    transform: translateX(-5rem);
    position: relative;
}

.biodata_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}


.biodata_chef {
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
    /* text-transform: uppercase; */
}

.biodata_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #951350;
}

.biodata_text {
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, .7);
}

.biodata_icon {
    display: inline-block;
    padding: 12px 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(to right, #322555 0%, #951350 100%);
    border-radius: 10px;
    text-decoration: none;
    pointer-events: none;
}



/* Awal Footer */

footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #322555 0%, #951350 100%);
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    height: 50px;
}

/* Akhir Footer */



/* Responsive Breakpoint */



/* Ukuran Tablet */

/* Awal Responsive Toggle tablet */

@media screen and (max-width: 768px) {

    .menu-toggle {
        display: flex;
    }

    .navbar .links {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background: rgba(50, 37, 85, 0.3);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav .links.slide {
        opacity: 1;
        transform: translateX(0);
    }  

    .menu-row {
        display: flex;
        flex-direction: column;
    }
  
    
}

/* Akhir Responsive Toggle tablet */





/* Awal Galery Responsive Tablet */

@media screen and (max-width: 768px) {
    .galery {
        height: 90vh;
    }
    .galery-image {
        grid-template-areas: 
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-3 img-3'
            'img-4 img-4 img-5 img-5'

            'img-6 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
        overflow: hidden;
    }

    .galery-image a {
        height: 12.5rem;
    }

    .img-1 {
        min-height: 25rem;
    }

    .img-6 {
        min-height: 12rem;
    }
}

/* Akhir Galery Responsive Tablet */

/* Awal Biodata */
@media screen and (max-width: 768px) {

    .sec-biodata {
        height: 100vh;
        overflow: hidden;
        /* background-color: aquamarine; */
        bottom: -30%;
    }

    .biodata {
        padding: 1.5rem;
        flex-direction: column;
    }

    .biodata_img {
        min-width: 100%;
        max-width: 100%;
        height: 15rem;
        transform: translate(0, -8rem);
    }
}
/* Akhir Biodata */

/* footer */
@media screen and (max-width: 768){
    footer {
        height: -50px;
        overflow: hidden;
    }
}

/* akhir Footer */



/* Awal Navbar & Toggle Responsive Mobile */

@media screen and (max-width: 576px) {

    .menu-toggle {
        display: flex;
    }

    .navbar .links {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background: rgba(50, 37, 85, 0.3);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav .links.slide {
        opacity: 1;
        transform: translateX(0);
    }


}

/* Awal Navbar & Toggle Responsive Mobile */



/* Awal Jumbotron, Menu & Paralax  Responsive Mobile*/

@media screen and (max-width: 576px) {
    .jumbotron .container{
        /* position: relative; */
        justify-content: center;
        height: 400px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        padding-top: 120px;

    }

    .jumbotron .container h1.display-txt  {

        font-size: 25px;
        font-weight: 100;
        margin-top: -140px;
        margin-left: -20px;
        font-size: 50px;
    }


    .tombol ul li {
        border: 2px solid white;
        font-size: 10px;
        
    }

    .tombol ul li a {
        padding: 5px 15px;
    }
    
    .menu-row {
        flex-direction: column;
    }
    .row-galery .jud-galery {
        font-size: 15px;
        top: -20%;
        text-align: center;
        justify-content: center;
    }

    .gal-row {
        display: flex;
        flex-direction: column;

    }

    .parallax {
        /* The image used */
        background-image: url("../img/resto-area.jpg");
    
        /* Set a specific height */
        min-height: 400px; 
    }
}

/* Akhir Jumbotron, Menu & Paralax  Responsive Mobile*/


/* Awal Galery Responsive Mobile */

@media screen and (max-width: 576px) {
    .galery {
        height: 100vh;
    }

    .galery-image {
        grid-template-areas: 
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-3 img-3'
            'img-4 img-4 img-5 img-5'

            'img-6 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
        overflow: hidden;
    }

    .galery-image a {
        height: 12.5rem;
    }

    .img-1 {
        min-height: 25rem;
    }

    .img-6 {
        min-height: 12rem;
    }
}


/* Awal Biodata */
@media screen and (max-width: 576px) {
    .sec-biodata {
        height: 100vh;

    }

    .biodata {
        padding: 1.5rem;
        flex-direction: column;
    }

    .biodata_img {
        min-width: 100%;
        max-width: 100%;
        height: 15rem;
        transform: translate(0, -4rem);
    }
}



/* Akhir Galery Responsive Mobile */
